.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: #111882;
  height: 175px;
  place-items: center;
  align-items: center;
  z-index: 50;
}

.nav-link {
  right: 60px;
  color: cyan;
}

.link {
  text-decoration: none;
  font-size: x-large;
  margin-left: 100px;
  color: lightcyan;
  font-weight: 800;
  font-family: 'Century Gothic Pro', 'Century Gothic';
}

.link:hover {
  transform: scale(1.5);
}

.heading {
  justify-content: left;
  font-weight: 400;

}

.logo2 {
  width: 300px;
  height: auto;
  padding-bottom: 30;
}

.link {
  position: relative;
  text-decoration: none;

  &:after {
    bottom: -4px ;
    content: "";

      display: block ;
      height: 2px;
       left: 0;
        position: absolute;
         background: cyan;
          opacity: 0.6;
           transition: width 0.3s ease 0s, opacity 0.3s ease 0s ;
           width: 0;
  }


  &:hover:after {
    width: 100% ;
    opacity: 0.9;
  }
}